<!DOCTYPE html>
<html>

<head>
  <style>
    * {
      font-family: 'lucida handwriting';
    }

    table {
      /* font-family:'lucida handwriting'; */
      /* border-collapse: collapse; */
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    a {
      width: 180px;
      background-color: #1153e0;
      color: white;
      padding: 14px 20px;
      margin: 15px 0;
      border: none;
      border-radius: 8px;
      text-decoration: none;
      display: flex;
      /* flex-direction: column; */

    }

    a:hover {
      background-color: #430ed4;
    }

    .yellow {
      background-color: rgb(247, 247, 113);
    }

    .red {
      background-color: rgb(252, 111, 111);
    }

    .green {
      background-color: rgb(113, 247, 135);
    }
  </style>
</head>

<body>

  <table>
    <tr>
      <th>Name</th>
      <th>e-mail</th>
      <th>Promoted</th>
      <th>Demoteed</th>
      <th>Delete</th>
    </tr>

    <% users.forEach(user=> { %>
        <% if (user.isPromoted== true) { %>
          <tr class="green">
        <%} else if (user.isPromoted== false) { %>
          <tr class="red">
        <% } else { %>
          <tr class="yellow">
        <% } %>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <form method="POST" action="/user/<%= user._id %>/promote?_method=PUT">
                <button id="edit-<%= user.name %>" type="submit">Promote</button>
              </form>
            </td>
            <td>
              <form method="POST" action="/user/<%= user._id %>/demote?_method=PUT">
                <button id="edit-<%= user.name %>" type="submit">Demote</button>
              </form>
            </td>
            <td>
              <form method="POST" action="/user/<%= user._id %>?_method=DELETE">
                <button id="delete-<%= user.name %>">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
  </table>

  <a href="/form">Add New Content</a>
</body>

</html>